#header {
    .navbar {
        li {
            position: relative;
            margin-right: 20px;
            &::after {
                content: "";
                display: block;
                height: 3px;
                background-color: #fe7900;
                position: absolute;
                width: 0%;
                bottom: -3px;
                left: 50%;
                transform: translateX(-50%);
                transition: all 0.3s;
            }
            &:hover::after {
                width: 100%;
            }
            a {
                font-size: 15px;
                font-weight: 700;
                padding: 0 8px;
            }
        }
        li.active::after {
            width: 100%;
        }
    }
}
